.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #bad1c2;
 

}
.heading {
  font-size: 35px;
  margin: 40px;
}

.card {
  height: 200px;
  margin: 40px;
}
.container {
  height: 300px;
  width: 800px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-top: 10px;
  margin-top: 30px;
}

.container {
  height: 200px;
  width: 800px;
  display: flex;
  margin-top: 1px;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}

.converterContainer {
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  background-image: #4fa095;
}

input {
  padding-left: 5px;
  font-size: 20px;
  height: 36px;
  color: #06283d;
}
.middle,
.right {
  width: 120px;
}

.top{
  margin-top: 20px;
  margin-left: 25px;
}

.switch {
  padding: 5px;
  margin-top: 25px;
  background-color: #4fa095;
  border-radius: 50%;
  cursor: pointer;
}
.result {
  box-sizing: border-box;
  width: 800px;
  padding-left: 30px;
  color: #06283d;
}
button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #153462;
  background-color: #f6f6c9;
  cursor: pointer;
  margin-bottom: 40px;
}
p,
h3,
button,
.switch {
  color: #06283d;
}

.converted-amount {
  margin-top: 20px;
  color: #4fa095;
}

p {
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones */
  [class*="col-"] {
    width: 100%;
  }

  .container,
  .card {
    height: 200px;
    width: 400px;
  }
}
p,
h3,
button,
.switch {
  color: rgb(9, 16, 205);
}
p {
  font-size: 30px;
}
