.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.heading {
  font-size: 35px;
}
.container {
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.converterContainer {
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  background-image: #4fa095;
}

input {
  padding-left: 5px;
  font-size: 20px;
  height: 36px;
}
.middle,
.right {
  width: 120px;
}
.switch {
  padding: 5px;
  margin-top: 25px;
  background-color: rgb(8, 212, 192);
  border-radius: 50%;
  cursor: pointer;
}
.result {
  box-sizing: border-box;
  width: 800px;
  padding-left: 30px;
}
button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid rgb(44, 52, 206);
  background-color: rgb(35, 184, 225);
  cursor: pointer;
}
p,
h3,
button,
.switch {
  color: rgb(9, 16, 205);
}
p {
  font-size: 30px;
}
