.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: left;
  justify-content: left;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.dashboard__btn {
  font-size: 18px;
  border: none;
  border: 2px solid rgb(44, 52, 206);
  background-color: rgb(35, 184, 225);
  align-self: center;
}

.dashboard div {
  margin-top: 7px;
}
