.cardsContainer {
  height: 100vh;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-image: #4fa095;
}

.insideCardPadding {
  padding: 20px;
  margin: 20px;
}
