.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BAD1C2;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 40px;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.register__btn {
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  
  background-color: #4FA095;
}

.register div {
  margin-top: 7px;
}

#container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.centered {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
}

.register-img{
  width:100%;
  height: 235%;
  padding-left: 90px;
}

#title{
  margin-bottom: 30px;
  color: #153462;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones */
  [class*="col-"] {
    width: 100%
  }

  .register-img{
    width:50%;
    height: 200%;
  }
}