#title{
    color: #153462;
    text-align: center;
    padding-top:50px;
  }

  .tools-body{
    background-color: #BAD1C2;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
  
  }

  .calculator{
    width: 30%;
  margin-left: auto;
  margin-right: auto;

  }

  #cal-pad{
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid #4FA095;
    background-color: #F6F6C9;
    color: #153462;
    cursor: pointer;
  }

  #display{
    width: 52%;
    height: 60px;
    margin-left: -30px;
    border: 2px solid #4FA095;
    
   
  }

  .result{
    color: #1c3253;
  }



@media only screen and (max-width: 768px) {
  /* For mobile phones */
  [class*="col-"] {
    width: 100%;
  }

  #display{
  width: 26%;
  }

  .buttons{
    width: 190%;
    
  }

}
