.body{
  height: 200vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BAD1C2;
  margin-top: -150px;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

#card{
    color:#06283D;
    width:100%;
  }

  .header{
    background-color: #4FA095;
    padding: 10px;
  }


.weather-data{
    text-align: left;
    color:#06283D;
   
}

hr.line {
    border: 1px solid #4FA095;
  }


  #container {
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }

  .img{
    width:65%;
    height: 310px;
    margin-right: -35px;
    margin-top: -10px;
   
  }



@media only screen and (max-width: 768px) {
  /* For mobile phones */
  [class*="col-"] {
    width: 100%;
  }

  .weather-data{
   font-size: 15px;
  }

  .img{
    width:50%;
    height: 210px;
    margin-right: -40px;
    margin-top: -10px;
  }

}