.body {
  height: 200vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
}

#card {
  color: #06283d;
  width: 100%;
  margin-top: 10px;
  height: 70%;
  margin-left: 0px;
}

.header {
  background-color: #4fa095;
  padding: 10px;
  height: 400px;
  margin-top: 30px;
}

.weather-data {
  text-align: left;
  color: #06283d;
}

hr.line {
  border: 1px solid #4fa095;
}

.container {
  position: relative;
  text-align: center;
  color: #153462;
  background-color: #bad1c2;
}

#container {
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
 
}

.img {
  width: 65%;
  height: 270px;
  margin-right: -25px;
  margin-top: 50px;
 
}

#name
  {
    margin-top: 50px;
  }

  .tools-topic, .weather-source{
    text-align: center;
  }

@media only screen and (max-width: 768px) {
  /* For mobile phones */
  [class*="col-"] {
    width: 100%;
  }

  .weather-data {
    font-size: 15px;
  }

  .img {
    width: 50%;
    height: 210px;
    margin-right: -40px;
    margin-top: -10px;
  }

  
}
